<head>
<style>
body { font-family: 'Helvetica', 'Arial', sans-serif; }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<div class="container text-center">
    <h1>Your Movie Has Been Added!</h1>
    
  <div class="alert alert-success">
    <strong>Well done!</strong> You successfully added {{ filmname }} to the database</a>.
  </div>
  
  <a href="/movies" class="btn btn-info">View All Movies</a>
</div>